@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  transition: all 0.7s ease;
}

body,
html {
  font-family: "Outfit", sans-serif;
  background-color: #F1F5F9;
  min-height: 100dvh;
  /* letter-spacing: 0.02em; */
}

#hero-text {
  display: inline;
  background: linear-gradient(to right, rgb(211, 215, 219) 50%, rgba(179, 207, 255, 0.7) 100%) text rgb(120, 128, 136);
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: -4px;
}

.blue-shadow {
  -webkit-box-shadow: 0px -1px 150px 50px rgba(0, 143, 253, .22);
  -moz-box-shadow: 0px -1px 150px 50px rgba(0, 143, 253, .22);
  box-shadow: 0 -1px 300px 110px #008ffd40;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
