@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
  scroll-behavior: smooth;
}



body,
html {
  font-family: "Outfit", sans-serif;
  background-color: #F1F5F9;
  min-height: 100dvh;
  scroll-behavior: smooth;
}

#hero-text {
  display: inline;
  background: linear-gradient(to right, rgb(211, 215, 219) 50%, rgba(179, 207, 255, 0.7) 100%) text rgb(120, 128, 136);
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  margin-bottom: -4px;
}

.blue-shadow {
  -webkit-box-shadow: 0px -1px 150px 50px rgba(0, 143, 253, .22);
  -moz-box-shadow: 0px -1px 150px 50px rgba(0, 143, 253, .22);
  box-shadow: 0 -1px 300px 110px #008ffd41;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Custom scrollbar for webkit browsers (Chrome, Safari, Edge) */
.conversation-container::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

.conversation-container::-webkit-scrollbar-track {
  background: transparent;
  /* Background of the scrollbar track */
}

.conversation-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Roundness of the scrollbar thumb */
  border: 3px solid transparent;
  /* Space around the thumb */
}

.conversation-container::-webkit-scrollbar-thumb:hover {
  background: transparent;
  /* Color when hovering over the scrollbar thumb */
}

/* Custom scrollbar for Firefox */
.conversation-container {
  scrollbar-width: thin;
  /* Makes the scrollbar thinner */
  scrollbar-color: rgb(207, 207, 207) transparent;
  /* thumb color and track color */
  padding-right: 20px !important;
}


.conversation-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}

/* Message bubble styling */
.message-bubble {
  max-width: 85%;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 8px;
}

/* User-specific styling */
.user-bubble {
  background-color: #1f2937;
  /* Slate 600 */
  color: #ffffff;
}

/* AI-specific styling */
.ai-bubble {
  background-color: #e2e8f0;
  /* Slate 200 */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.textarea {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ensure code blocks and inline code do not overflow */
.markdown code {
  white-space: pre-wrap;
  word-break: break-word;
}

.markdown pre {
  overflow-x: auto;
}

.custom-quill .ql-container {
  border: 1px solid #cccccc; 
  border-radius: 0 0 0.75rem 0.75rem; 
}

.custom-quill .ql-editor {
  border-radius: 0 0 0.75rem 0.75rem; 
}

/* Toolbar styling */
.custom-quill .ql-toolbar.ql-snow {
  border-top: 1px solid #cccccc; 
  border-bottom: none;
  border-radius: 0.75rem 0.75rem 0 0;
}

.custom-quill .ql-editor {
  padding: 1rem;
  height: calc(100vh - 17rem);
}